body {
    margin: 0;
    font-family: sans-serif;

    --content-max-width: 1200px;

    --white-key-width: calc(100% / 8);
    --black-key-left-offset: calc(var(--white-key-width) / 5);   /* slight right bias */
    --black-key-center-offset: calc(var(--white-key-width) / 4); /* centered */
    --black-key-right-offset: calc(var(--white-key-width) / 3);  /* slight left bias */

    --white-key-color: white;
    --white-key-root-color: #f93943;
    --white-key-hover-color: #fcb0b3;
    --white-key-secondary-color: #4a72ee;
    --white-key-label-color: black;

    --black-key-color: black;
    --black-key-root-color: #f93943;
    --black-key-hover-color: #ffbabd;
    --black-key-secondary-color: #2443a2;
    --black-key-label-color: white;

    --pc-key-color: #535356;

    --title-color: #777777;
}

#content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
}


/* -- keyboard -- */

#keyboard {
    width: 85%;
    margin: 0 auto;
    height: 60vh;
    max-height: 500px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.key {
    width: var(--white-key-width);
    cursor: pointer;
    border: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: background-color ease 0.05s;
    display: flex;
    justify-content: center;
    align-items: end;
}

.key.white {
    background-color: white;
    border: 2px solid black;
    border-width: 4px 2px 4px 2px;
}


.key.white:first-of-type {
    border-left-width: 4px;
}

.key.white:last-of-type {
    border-right-width: 4px;
}

.key.white:hover {
    background-color: var(--white-key-hover-color);
}

.key.white.root {
    background-color: var(--white-key-root-color);
}

.key.white.secondary {
    background-color: var(--white-key-secondary-color);
}

.key.black {
    border-top: 4px solid black;
    height: 60%;
    /* TODO: widen black keys */
    width: calc(var(--white-key-width) / 2);
    background-color: black;
    position: absolute;
    z-index: 2;
}

.key.black:hover {
    background-color: var(--black-key-hover-color);
}

.key.black:not(.root):not(.secondary):hover .note-label {
    color: var(--white-key-label-color);
}

.key.black.root {
    background-color: var(--black-key-root-color);
}

.key.black.secondary {
    background-color: var(--black-key-secondary-color);
}

.key[data-note="c#"] {
    left: calc(var(--white-key-width) - var(--black-key-left-offset));
}

.key[data-note="d#"] {
    left: calc((var(--white-key-width)*2) - var(--black-key-right-offset));
}

/* no black e# key */

.key[data-note="f#"] {
    left: calc((var(--white-key-width)*4) - var(--black-key-left-offset));
}

.key[data-note="g#"] {
    left: calc((var(--white-key-width)*5) - var(--black-key-center-offset));
}

.key[data-note="a#"] {
    left: calc((var(--white-key-width)*6) - var(--black-key-right-offset));
}

/* no black b# key */

.key > .note-label {
    margin-bottom: 32px;
    font-size: 28pt;
    color: var(--white-key-label-color);
}

.key.black > .note-label {
    font-size: 18pt;
    color: var(--black-key-label-color);
    transition: color ease 0.05s;
}


#bottom-panel {
    max-width: var(--content-max-width);
    background-color: coral;
    padding: 12px 24px 24px 24px;
    border-radius: 16px;
    position: relative;
    margin: 0 24px 24px 24px;
}

#bottom-panel-header {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    align-items: center;
    margin: 8px 0 24px 0;
    justify-content: space-between;
}

#bottom-panel-title {
    font-weight: normal;
    color: var(--title-color);
    margin: 0;
}

#bottom-panel-hide {
    height: fit-content;
    background: none;
    border: none;
    color: lightblue;
    font-size: 14pt;
    cursor: pointer;
}

#bottom-panel-content {
    display: flex;
    flex-direction: row;
    max-height: 300px;
    overflow: hidden;
}

body.hiding-bottom-panel #keyboard {
    width: 95%;
    height: 80vh;
    max-height: initial;
}

body.hiding-bottom-panel #bottom-panel {
    width: fit-content;
    padding-bottom: 12px;
}

body.hiding-bottom-panel #bottom-panel-header {
    margin: 8px 0;
}

body.hiding-bottom-panel #bottom-panel-content {
    max-height: 0;
}


/* -- options -- */

#options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 8px;
    font-size: 16pt;
}

select {
    font-size: 16pt;
}

input {
    width: 18px;
    height: 18px;
}

/* -- extras -- */

#extras {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}


/* -- keybinds -- */

#keybinds {
    list-style-type: none;
}

.pc-key {
    display: inline-block;
    background-color: var(--pc-key-color);
    padding: 8px;
    min-width: 16px;
    text-align: center;
    border-radius: 4px;
    color: white;
    box-shadow: 0px -4px 0px 0px rgba(127,127,127,0.75) inset;
    user-select: none;
}
