/**
 * light: default
 * dark: dark interface but light keyboard
 * midnight: dark everything
 * TODO: solarized?
 */

body[data-theme="dark"],
body[data-theme="midnight"] {
    --text-color: white;
    --foreground-color: #1f1f1f;
    --background-color: #101010;

    --extras-button-hover-color: #a90a34;

    --pc-key-color: var(--foreground-color);
    --pc-key-shadow-color: var(--background-color);
}


body[data-theme="midnight"] {
    --white-key-color: var(--foreground-color);
    --white-key-border-color: var(--background-color);
    --white-key-secondary-color: var(--secondary-dark-color); /* default is too light */
    --white-key-hover-color: #ffadad;
    --white-key-label-color: white;

    --black-key-color: white;
    --black-key-border-color: var(--background-color);
    --black-key-label-color: black;
}

/* when hovering, as the color is light, always make labels black */
body[data-theme="midnight"] button.key:not(.root):not(.secondary):hover > .note-label {
    color: black;
}
